::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.box-shadow {
    background-color: #d8bfd8;
    color: #fff;
    background-color: #121212;
    border: 1px solid #121212;
    box-shadow: 0 0 6px #12121270;
    padding: 0.5em 1em;
}

.outline {
    color: #121212;
    border: 2px solid #121212;
    margin: 0.5em;
    padding: 0.5em 1em;
}

.outline:hover {
    background-color: #121212;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw !important;
    height: 100vh !important;
    /* overflow-x: hidden !important; */
    /* overflow: hidden; */
}

.hide {
    display: none !important;
}

.preventTextSelection {
    /* Safari */
    -webkit-user-select: none;
    /* IE 10 and IE 11 */
    -ms-user-select: none;
    /* Standard syntax */
    user-select: none;

    cursor: pointer;
}

button:disabled,
button:hover:disabled {
    cursor: not-allowed;
    background-color: #00000030;
    color: currentColor;
    pointer-events: none;
}

/* search box */
#search-box {
    margin: 18px;
    padding: 3px;

    align-self: center;

    border: 1px solid #00000090;
    border-radius: 3px;
}

#search-box input[name="search"] {
    padding: 6px 12px;
    width: 270px;

    outline: none;
    border: none;
}

/* pages */
#pages {
    width: 100vw;

    display: flex;

    /* position: relative; */
    padding-bottom: 30px;
}

/*  */
.btn {
    position: relative;
}


.btn::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 12px;
    width: 21px;
    height: 21px;
    z-index: -1 !important;
}

.btn[type="approve"]:before {
    background-color: green;
}

.btn[type="reject"]:before {
    background-color: red;
}

.btns-container {
    display: flex;
}

/* stats */
#stats {
    width: 100vw !important;
    /* height: auto; */

    display: flex;
    flex-direction: column;

    gap: 9px;
    padding: 9px 18px 0px;

    position: relative;
    overflow: scroll;
}

/* info */
#info {
    width: 100%;
    /* align-self: center; */
    font-size: smaller;
    font-weight: bold;
    padding: 9px 30px;
}


/* notification-box */
#notification-box.hide {
    display: none;
}

#notification-box {
    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;
    min-width: 100%;
    padding: 9px 0;

    background-color: #0e1111;
    color: #ffe;
}
